<body id="container">
  <h1 id="main-heading">GithubInfo.</h1>
  <form action="/user" id="search-form" method="GET">
    <input name="q" placeholder="Enter username here:" />
    <button type="submit">Search</button>
  </form>
</body>